p{
	font-family: 'Work Sans', sans-serif;
}
.date{
	letter-spacing: 3.5px;
	color: #947d99;
	text-transform: uppercase;
	font-weight: 600;
}
h2{
	font-family: 'Work Sans', sans-serif;
	font-weight: 600;
}
.quote{
	border-left: 5px solid #947d99;
	padding-left: 5px;
}
body{
	border: 25px solid #ecacf9;
	padding: 20px;
	margin: 20px auto;
	max-width: 700px;
}
hr{
	 background-color: #333;
}